.not-found {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 20px;
    border: 1px solid var(--colorBorder);
    padding: 20px;
    color: #bfbfb1;
    text-align: center;
    background-color: var(--colorBackGroundElement);
}