<div class="time-line" >
    <div class="post" *ngFor="let item of items">
        <div class="title">
            <div class="author">
                <div class="author-name">
                    {{item.name}}
                </div>
                <div class="author-time">
                    {{item.time}}
                </div>
            </div>
            <div class="post-title">
                
            </div>
        </div>
        <div class="post-body">
            
        </div>
        <div class="post-menu">
            
        </div>
    </div>
</div>
