
$colorItem: #22272b;
$colorBack: #171c20;
$colorElent: var(--colorButtonUse);


$colorBorder:#2d3236;

$colorButtonUse: var(--colorButtonUse);
$colorButtonUnUse:#2d3236;
$colorButtonText:#ffffff;

$colorTitleText:#bfbfbf;
$colorBodyText:#a6a6a6;
$colorText: #bfbfb1;


.border {
    border: 1px solid $colorBorder !important;
    border-radius: 2px;
}

body {
    font-family: "Roboto","Open Sans",helvetica,arial,sans-serif;
}

.title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: $colorTitleText;
}

.noFoundMessage {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 20px;
    border: 1px solid #2d3236;
    padding: 20px;
    color: #bfbfb1;
    text-align: center;
    background-color: $colorItem;
}

.spin {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
::ng-deep circle {
    stroke: var(--colorActiveElemen) !important;
}
::ng-deep mat-spinner {
    width: 75px !important;
    height: 75px !important;
    svg {
        width: 75px !important;
        height: 75px !important;
    }
}
.noFoundMessage {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 20px;
    border: 1px solid #2d3236;
    padding: 20px;
    color: #bfbfb1;
    text-align: center;
    background-color: $colorItem;
}