<div class="stories__container" *ngIf="post">
    <div class="story">
        <div class="story__header">
            <div class="story__author">
                <div class="story__img">
                    <img [src]="createImgPath(post.user.icon)" alt="" srcset="" *ngIf=" post.user.icon != ''">
                    <img src="../../../assets/img/start-icon.png" alt="" srcset="" *ngIf=" post.user.icon == ''">
                </div>
                <div class="author__name">
                   <a [routerLink]="[ '/user-details', post.user.id ]" >{{post.user.name}}</a>
                </div>
                <div class="story__time">
                    {{post.timePost}}
                </div>
            </div>
            <div style="display:flex;">
                <div *ngIf="post.validationStatus == false">
                    <svg xmlns="http://www.w3.org/2000/svg" color="red" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentColor" d="M6 30H4V2h24l-5.8 9l5.8 9H6Z"/></svg>
                </div>
                <div class = "threeDots">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><path fill="currentColor" d="M3 9.5a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3z"/></svg>
                    <div class="threeDots-sub">
                        <div *ngIf="post.isAccessories" [routerLink]="['/work-post', post.id]" class = "bntEdit">Редактировать</div>
                        <div *ngIf="post.isAccessories" class = "bntEdit">Удалить</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="story__body" >
            <div class="story__body-title" *ngIf="post.title != undefined">
                {{post.title}}
            </div>
            <div *ngFor="let item of post.postItem">
                <div class="story__body-text" *ngIf="item.text != undefined">
                    {{item.text}}
                </div>
                <div class="story__body-img" *ngIf="item.imgUrl != undefined">
                    <img [src]="createImgPath(item.imgUrl)" alt="" srcset="">
                </div>
                <div class="story__body-vidio" *ngIf="item.vidioUrl != undefined">
                    <youtube-player
                        class="youtube-player"
                        [videoId]="item.vidioUrl"
                    >
                    </youtube-player>
                </div>
            </div>
        </div>
        <div class="story__menu" *ngIf="userRole == 'user'">
            <div style="cursor: pointer;" [routerLink]="['/post-details', post.id]" class="story__menu-item">
                <svg color="#6c7073" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="currentColor" d="M924.3 338.4a447.57 447.57 0 0 0-96.1-143.3a443.09 443.09 0 0 0-143-96.3A443.91 443.91 0 0 0 512 64h-2c-60.5.3-119 12.3-174.1 35.9a444.08 444.08 0 0 0-141.7 96.5a445 445 0 0 0-95 142.8A449.89 449.89 0 0 0 65 514.1c.3 69.4 16.9 138.3 47.9 199.9v152c0 25.4 20.6 46 45.9 46h151.8a447.72 447.72 0 0 0 199.5 48h2.1c59.8 0 117.7-11.6 172.3-34.3A443.2 443.2 0 0 0 827 830.5c41.2-40.9 73.6-88.7 96.3-142c23.5-55.2 35.5-113.9 35.8-174.5c.2-60.9-11.6-120-34.8-175.6zM312.4 560c-26.4 0-47.9-21.5-47.9-48s21.5-48 47.9-48s47.9 21.5 47.9 48s-21.4 48-47.9 48zm199.6 0c-26.4 0-47.9-21.5-47.9-48s21.5-48 47.9-48s47.9 21.5 47.9 48s-21.5 48-47.9 48zm199.6 0c-26.4 0-47.9-21.5-47.9-48s21.5-48 47.9-48s47.9 21.5 47.9 48s-21.5 48-47.9 48z"/></svg>
                <div class="story__menu-text" *ngIf="post.comments != undefined">{{post.comments.length}}</div>
            </div>
            <div class="story__menu-item" *ngIf="isSaved" (click)="savedPost()">
                <svg color="#6c7073" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><path fill="currentColor" d="M15.173 2H4c-1.101 0-2 .9-2 2v12c0 1.1.899 2 2 2h12c1.101 0 2-.9 2-2V5.127L15.173 2zM14 8c0 .549-.45 1-1 1H7c-.55 0-1-.451-1-1V3h8v5zm-1-4h-2v4h2V4z"/></svg>
            </div>
            <div class="story__menu-item" *ngIf="!isSaved" (click)="unSavedPost()">
                <svg color="#58b6b6" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><path fill="currentColor" d="M15.173 2H4c-1.101 0-2 .9-2 2v12c0 1.1.899 2 2 2h12c1.101 0 2-.9 2-2V5.127L15.173 2zM14 8c0 .549-.45 1-1 1H7c-.55 0-1-.451-1-1V3h8v5zm-1-4h-2v4h2V4z"/></svg>
            </div>
            <div class="story__menu-item" *ngIf="!isLike" (click)="unSavedPost()">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48"><path fill="#F44336" d="M34 9c-4.2 0-7.9 2.1-10 5.4C21.9 11.1 18.2 9 14 9C7.4 9 2 14.4 2 21c0 11.9 22 24 22 24s22-12 22-24c0-6.6-5.4-12-12-12z"/></svg>
                <div class="story__menu-text" *ngIf="post.likes != undefined">{{post.likes.length}}</div>
            </div>
            <div class="story__menu-item" *ngIf="isLike" (click)="likePost()">
                <svg color="#6c7073" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8Z"/></svg>
                <div class="story__menu-text" *ngIf="post.likes != undefined">{{post.likes.length}}</div>
            </div>
        </div>
        <div class="story__menu" *ngIf="(userRole == 'moder' || userRole == 'admin') && rout == 'posts-moder'">
            <div class="story__menu-btn" style="cursor: pointer;" (click)="example()" >Отклонить</div>
            <div class="story__menu-btn" style="cursor: pointer;" (click)="reject()" >Принять</div>
        </div>
        <div class="story__menu" *ngIf="(userRole == 'moder' || userRole == 'admin') && rout != 'posts-moder'">
            <div class="story__menu-btn" style="cursor: pointer;" (click)="deletePost()">Удалить</div>
        </div>
    </div>
</div>
