@import "../color.scss";

.cropper {
    padding: 20px;
    position: absolute;
    background-color: $colorItem;
    top: calc(50% - 200px);

    image-cropper {
        width: 150px;
        height: 150px;
    }
    .img {
        margin-left: 20px;
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
    .square {
        margin-left: 20px;
        width: 150px;
        height: 100px;
    }
    .circle {
        margin-left: 20px;
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }

    &-body {
        display: flex;
    }
    &-btn {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        button {
            display: block;
            font-size: 13px;
            line-height: 20px;
            font-weight: 400;
            padding: 8px 40px;
            background-color: var(--colorActiveElemen);
            border-radius: 2px;
            border: none;
            color: aliceblue;
        }
    }
}

