<div class="cropper">
    <div class="cropper-img">
        <image-cropper
            [imageChangedEvent]="iconFile"
            [maintainAspectRatio]="true"
            [containWithinAspectRatio]="containWithinAspectRatio"
            [aspectRatio]="4 / 3"
            [resizeToWidth]="256"
            [cropperMinWidth]="128"
            [onlyScaleDown]="true"
            [roundCropper]="false"
            [canvasRotation]="canvasRotation"
            [transform]="transform"
            [alignImage]="'left'"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady($event)"
            (loadImageFailed)="loadImageFailed()"
        >
        </image-cropper>
    </div>
    <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />
    <div class="cropper-btn">
        <button>Отмена</button>
        <button>Ок</button>
    </div>
</div>
