<div class="cropper">
    <div class="cropper-body">
        <div class="cropper-img">
            <image-cropper
                [imageChangedEvent]="iconFile"
                [maintainAspectRatio]="true"
                [containWithinAspectRatio]="containWithinAspectRatio"
                [aspectRatio]="aspectRatio"
                [resizeToWidth]="200"
                [cropperMinWidth]="100"
                [onlyScaleDown]="true"
                [roundCropper]="false"
                [canvasRotation]="canvasRotation"
                [transform]="transform"
                [alignImage]="'left'"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady($event)"
                (loadImageFailed)="loadImageFailed()"
                
            >
            </image-cropper>
        </div>
        <div>
            <img [class]="setPreview()" [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />
        </div>
    </div>
    <div class="cropper-btn">
        <button (click)="off()">Отмена</button>
        <button (click)="off()">Ок</button>
    </div>
</div>
