@import "../color.scss";

.subscriptions {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 20px;
    border: 1px solid #2d3236;
    padding: 20px;
    color: #bfbfb1;
    text-align: center;
    background-color: $colorItem;

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-left {
            img {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                margin-right: 5px;
            }
            display: flex;
            align-items: center;
        }
        &-right {
            button {
                border-radius: 2px;
                outline: none;
                border: none;
                display: block;
                color: $colorButtonText;
                padding: 0 20px;
            }

            .subscriptions-sub {
                background-color: var(--colorActiveElemen);    
                width: 155px;
            }
            .subscriptions-un {
                background-color: var(--colorUnUseActiveElemen);   
                width: 155px;
            }
        }
    }
}