:root {
  --colorItem: #22272b;
  --colorBack: #171c20;
  --colorElent: #5a8684;
  
  --colorButtonUse:#5a8684;
  --colorButtonUnUse:#2d3236;
  --colorButtonText:#ffffff;
  
  --colorTitleText:#bfbfbf;
  --colorBodyText:#a6a6a6;
  --colorText: #bfbfb1;

  /* ========================================= */

  --colorActiveElemen:#5a8684;
  --colorUnUseActiveElemen:#2d3236;

  --colorBackGroundCardOne:#22272b;

  --colorButtonText:#ffffff;

  
  /* BackGround */

  --colorBackGroundBlack:#171c20;
  --colorBackGroundWhite:#f4f4f4;

  --colorBackGroundElementBlack:#22272b;
  --colorBackGroundElementWhite:#ffffff;

  --colorTitleTextBlack : #212121;
  --colorTitleTextWhite : #bfbfbf;

  --colorBodyTextBlack : #212121;
  --colorBodyTextWhite : #a6a6a6;

  --colorBorderBlack:#2d3236;
  --colorBorderWhite:#e9e9e9;
  
  --colorBorder:var(--colorBorderBlack);;

  --colorTitleText: var(--colorTitleTextWhite);
  --colorTitleBody: var(--colorBodyTextWhite);

  --colorBackGround: var(--colorBackGroundBlack);
  --colorBackGroundElement: var(--colorBackGroundElementBlack);
}


a {
  color: #0366d6;
}

code {
  color: #e01a76;
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
