:root {
  --colorItem: #22272b;
  --colorBack: #171c20;
  --colorElent: #5a8684;
  
  
  --colorBorder:#2d3236;
  
  --colorButtonUse:#5a8684;
  --colorButtonUnUse:#2d3236;
  --colorButtonText:#ffffff;
  
  --colorTitleText:#bfbfbf;
  --colorBodyText:#a6a6a6;
  --colorText: #bfbfb1;

/* ========================================= */
  --colorActiveElemen:#5a8684;
  --colorUnUseActiveElemen:#2d3236;

  --colorBackGroundCardOne:#22272b;

  --colorButtonText:#ffffff;

  --colorBackGroundBlack:#171c20;
  --colorBackGroundWhite:white;
  --colorBackGround:var(--colorBackGroundBlack);
}


a {
  color: #0366d6;
}

code {
  color: #e01a76;
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
