@import "../color.scss";

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
  background-color: #22272b !important;
}
.navbar .nav-link {
  color: aliceblue !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.left {
  display: flex;
  align-items: center;
}
.border-nav {
  border-bottom: 1px solid #2d3236 !important;
  border-radius: 2px;
}
.icon {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--colorActiveElemen);
}

.nav-link:hover {
  color: #5a8684;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px !important;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1000px !important;
  }
}