@import "../color.scss";

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
  background-color: var(--colorBackGroundElement) !important;
}
.navbar .nav-link {
  color: var(--colorTitleText) !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.left {
  display: flex;
  align-items: center;
}
.border-nav {
  border-bottom: 1px solid var(--colorBorder) !important;
  border-radius: 2px;
}
.icon {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  background-color: var(--colorActiveElemen);
}
.icon svg {
  color: var(--colorBackGroundElement);
}

.nav-link:hover {
  color: #5a8684;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px !important;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1000px !important;
  }
}
.count {
  background-color: var(--colorActiveElemen);
  border: 1px solid var(--colorBackGroundElement);
  min-width: 20px;
  display: block;
  text-align: center;
  border-radius: 100%;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -4px;
}
.navbar-light .navbar-toggler-icon {
  background-color: var(--colorTitleText) !important;
}