.main {
    width: 100%;
    height: auto;
}
.timeline {
    width: 100%;
    height: auto;
}
.sidebar {
    width: 100%;
    display: none;
}   

@media (min-width: 1000px) {
    .main {
        width: 100%;
        height: auto;
        display: flex;
    }
    .timeline {
        width: 70%;
        margin-right: 12px;
        height: auto;
    }
    .sidebar {
        width: 30%;
        display: block;
    }   
    
}
@media (min-width: 1400px) {
    .main {
        width: 100%;
        height: auto;
        display: flex;
    }
    .timeline {
        width: 70%;
        margin-right: 12px;
        height: auto;
    }
    .sidebar {
        width: 30%;
        display: block;
    }   
    
}
