<div class = "user-details border settings settings__user" *ngIf="user">
    <div class="settings__backheader">
      <img 
        *ngIf='user.font != ""'
        [src]="createImgPath(user.font)" 
      >
    </div>
    <div class="avatar">
        <img 
          [src]="createImgPath(user.icon)" 
          *ngIf="user.icon != ''"
        >
    </div>
    <div class="body">
        <div class="body__button">
            <div *ngIf="userRole == 'user'">
                <button class="body__button-sub" *ngIf="isSub == false && isSubCheckUser == true" (click)="addSub()">
                    Подписаться
                </button>
                <button class="body__button-un" *ngIf="isSub == true && isSubCheckUser == true" (click)="deleteSub()">
                    Отписаться
                </button>
            </div>
            <div style="display: flex ;" *ngIf="userRole == 'moder' || userRole == 'admin'">
                <button class="body__button-sub" style="margin-right: 5px;">Бан</button>
                <button class="body__button-sub">Блокировка</button>
            </div>
        </div>
        <div class="body__info">
            <div class="title">
                {{user.name}}
            </div>
            <div class="body__info-about">
                {{user.about}}
            </div>
        </div>
        <div class="body__digital">
            <div class="body__digital-item">
                <div class="title">
                    {{subWriter!.length}}
                </div>
                <div>
                    подписчиков
                </div>
            </div>
            <div class="body__digital-item">
                <div class="title">
                    {{commentCount}}
                </div>
                <div>
                    комментариев
                </div>
            </div>
            <div class="body__digital-item">
                <div class="title">
                    {{posts.length}}
                </div>
                <div>
                    постов
                </div>
            </div>
            <div class="body__digital-item">
                <div class="title">
                    {{reting}}
                </div>
                <div>
                    рейтинг
                </div>
            </div>
        </div>
    </div>
</div>
<div >
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
</div>  